  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- サイドバー - タイトル -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      <div class="sidebar-brand-text mx-3 sidebar-title">面接広場 </div>
    </a>
    <!-- 区切り線 -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - 面接練習 -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePractice" aria-expanded="false" aria-controls="collapsePractice">
        <i class="fas fa-fw fa-user-tie"></i>
        <span>面接練習</span>
      </a>
      <div id="collapsePractice" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">役割を選択 :</h6>
          <a class="collapse-item" href="/examinee">受験者</a>
          <a class="collapse-item" href="/interviewer">面接官</a>
        </div>
      </div>
    </li>
    <!-- 区切り線 -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
      面接コース
    </div>
    <!-- Nav Item - ガイド -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGuide" aria-expanded="false" aria-controls="collapseGuide">
        <i class="fas fa-fw fa-flag"></i>
        <span>ガイド</span>
      </a>
      <div id="collapseGuide" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">面接ガイド :</h6>
          <a class="collapse-item" href="#">はじめての方へ</a>
          <a class="collapse-item" href="#">コースについて</a>
        </div>
      </div>
    </li>
    <!-- 区切り線 -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        その他
    </div>
    <!-- Nav Item - その他 -->
    <li class="nav-item active">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOther" aria-expanded="false" aria-controls="collapseOther">
        <i class="fas fa-fw fa-ellipsis-h"></i>
        <span>その他</span>
      </a>
      <div id="collapseOther" class="collapse" aria-labelledby="headingPages"
                data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">その他 :</h6>
          <a class="collapse-item" href="#">FAQ(お問い合わせ)</a>
          <a class="collapse-item" href="#">サイトマップ</a>
        </div>
      </div>
    </li>
    <!-- 区切り線 -->
    <hr class="sidebar-divider d-none d-md-block">
  </ul>