<div id="content">
  <div class="container-fluid">
    <!-- ページタイトル -->
    <h1 class="h3 mb-4 text-gray-800">練習するコースを選ぶ</h1>
    <!-- コース一覧 -->
    <div class="row">
      <div class="col-lg-6">

        <div class="card mb-4 py-3 border-left-primary">
          <div class="card-body">
              一問一答コース
          </div>
        </div>
        <div class="card mb-4 py-3 border-left-danger">
          <div class="card-body">
              標準面接コース
          </div>
        </div>

      </div>
    </div>
  </div>
</div>